@import url("styles.css");

/* navigation style */

.navbar .navbar-top .socilamedia-navigation {
  font-size: 18px;
}

.navbar .navbar-top {
  padding: 5px 0px;
}

.navbar .main-menu li a {
  padding: 10px;
  color: white !important;
  font-weight: 600;
}

.navbar .main-menu li a i {
  font-size: 18px;
}

.navbar .navbar-main {
  box-shadow: 1px 5px 10px 0px #0000001a;
  background-color: white;
  position: relative;
}

.navbar .navbar-main img {
  max-width: 200px;
}

.navbar .navbar-main .navbar-main-auth img {
  max-width: 50px;
}

.navbar .navbar-main .navbar-main-auth h5 {
  color: var(--maincolor);
  font-weight: 700;
}

.navbar .navbar-main .navbar-main-auth p {
  font-size: 14px;
  color: var(--maincolor);
}

/* home page style */

.home-main-container {
  background-image: url("images/home\ banner.webp");
  background-position: right;
  background-size: cover;
  height: 75vh;
}

.home-main-container .home-banner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 40vw;
}

.home-main-container .home-banner form input {
    padding: 25px 10px;
    border-radius: 5px;
}

.home-about-container .left-about-image img{
    border-top-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.home-knoeprocess-container {
    background-image: url('./images/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.home-blog-container .blog-main {
    border-radius: 15px;
    overflow: hidden;
}

.home-blog-container .blog-main .blogtext {
    padding: 20px;
    margin-top: -3px;
    background: white;
    z-index: 1;
    position: relative;
}

.home-knoeprocess-container .uk-container.uk-padding-remove {
    margin: 0px;
    max-width: 100%;
}

/* service style */

.service-body .service-content-section .lefttabs-container {
    border: 2px solid var(--maincolor);
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.service-body .service-content-section .lefttabs-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.service-body .service-content-section .lefttabs-container ul li {
    padding: 10px 0px;
    cursor: pointer;
    padding-left: 20px;
}

.service-body .service-content-section .lefttabs-container ul li:hover {
    background-color: var(--graytwo);
    color: var(--maincolor);
}

.service-body .service-content-section .lefttabs-container ul li.active {
    background-color: var(--maincolor);
    color: white;
}

.div-sticy-sidefilters {
    position: sticky;
    top: 10vw;
}

/* footer style */

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: none;
}

.footer-container .footericonimages img {
    max-width: 100px;
}

.footer-container .footericonimages {
    display: flex;
    align-items: stretch;
}

.main-menu select{
    background-color: transparent;
    color: var(--white);
    border: none;
}

.main-menu select option {
    color: black;
}

.service-body .service-downloadbutton {
    display: none;
    padding: 0px 15px;
}

select option {
    max-width: 100px !important;
}

.contactinfo-main {
    display: flex;
    align-items: flex-start;
}

.contactinfo-main .icon-box{
    background-color: var(--mainsecond);
    color: var(--maincolor);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: 20px;
}

.contact-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.director-about {
    background-image: url(./images/background/one.jpg);
    background-size: cover;
}

.director-about img {
    border: 10px solid white;
    box-shadow: 0px 5px 7px 7px #00000026;
}

.director-about i {
    font-size: 60px;
    color: var(--maincolor);
}

.testmonial-main a.uk-position-center-right.uk-position-small.uk-icon.uk-slidenav-next.uk-slidenav {
    background-color: #0d629a;
    font-weight: 700;
    color: white !important;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: relative !important;
    bottom: 45px !important;
    left: 60px !important;
}

.testmonial-main a.uk-position-center-left.uk-position-small.uk-icon.uk-slidenav-previous.uk-slidenav {
    background-color: #0d629a;
    font-weight: 700;
    color: white !important;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    position: relative !important;
    bottom: 0px !important;
    margin-left: 0px;
}

.uk-open>.uk-accordion-title::before {
    background-image: url('https://icons.veryicon.com/png/o/miscellaneous/simple-and-round-line-mark/down-arrow-56.png');
    background-size: contain;
    transform: rotate(0deg);
}

.uk-accordion-title::before {
    background-image: url('https://icons.veryicon.com/png/o/miscellaneous/simple-and-round-line-mark/down-arrow-56.png');
    background-size: contain;
    transform: rotate(180deg);
}

.download-calender {
    padding: 20px;
    border: 1px solid var(--maincolor);
    border-radius: 5px;
}

.galleryimage-container {
    position: relative;
}

.galleryimage-container p {
    position: absolute;
    z-index: 1;
    bottom: -20px;
    padding: 10px;
    background: white;
    width: 100%;
    background: #ffffff7d;
    text-align: center;
}

.gallery-modal img {
    border: 4px solid white;
}

.gallery-modal button {
    right: -35px;
    top: -35px;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
}

h3.main-color.uk-text-bold.uk-margin-left {
    position: relative;
}

h3.main-color.uk-text-bold.uk-margin-left::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 70px;
    background-color: #0d629a;
    left: -20px;
    top: 0px;
}

.home-blog-container .uk-container.uk-margin-small-top {
    max-width: 100%;
}

@media screen and (max-width: 576px) {
    .navbar-main-logo img{
        max-width: 150px !important;
    }

    .home-main-container .home-banner {
        max-width: 95vw;
    }

    .service-body .service-content-section .lefttabs-container {
        display: none;
    }

    .service-body .service-content-section .download-brochures {
        display: none;
    }

    .service-blogserc-style {
        padding: 0px;
    }

    .service-blogserc-style .service-container-servicepage {
        padding-left: 0px;
        padding-right: 0px;
    }

    .service-body .service-downloadbutton {
        display: flex;
    }

    .product-page .service-right-content {
        padding: 0px;
        margin-top: 15px;
    }

    .product-page .service-right-content .uk-flex {
        justify-content: center;
    }

    .home-main-container {
        height: 50vh;
        background-position: left;
        box-shadow: inset 800px 0px #ffffff36;
    }
}

@media screen and (max-width: 768px) {
    .home-main-container .home-banner {
        max-width: 50vw;
    }

    .home-knoeprocess-container {
        background-image: none;
    }
}
