@import url("styles.css");

/* navigation style */

.navbar .navbar-top .socilamedia-navigation {
  font-size: 18px;
}

.navbar .navbar-top {
  padding: 5px 0px;
}

.navbar .main-menu li a {
  padding: 10px;
  color: white !important;
  font-weight: 600;
}

.navbar .main-menu li a i {
  font-size: 18px;
}

.navbar .navbar-main {
  box-shadow: 1px 5px 10px 0px #0000001a;
  background-color: white;
  position: relative;
}

.navbar .navbar-main img {
  max-width: 200px;
}

.navbar .navbar-main .navbar-main-auth img {
  max-width: 50px;
}

.navbar .navbar-main .navbar-main-auth h5 {
  color: var(--maincolor);
  font-weight: 700;
}

.navbar .navbar-main .navbar-main-auth p {
  font-size: 14px;
  color: var(--maincolor);
}

/* home page style */

.home-main-container {
  background-image: url("images/home\ banner.webp");
  background-position: right;
  background-size: cover;
  height: 75vh;
}

.home-main-container .home-banner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 50vw;
}

.home-main-container .home-banner form input {
    padding: 25px 10px;
}

.home-about-container .left-about-image img{
    border-top-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.home-knoeprocess-container {
    background-image: url('./images/background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.home-blog-container .blog-main {
    border-radius: 15px;
    overflow: hidden;
}

.home-blog-container .blog-main .blogtext {
    padding: 20px;
    margin-top: -3px;
    background: white;
    z-index: 1;
    position: relative;
}

/* service style */

.service-body .service-content-section .lefttabs-container {
    border: 2px solid var(--maincolor);
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}

.service-body .service-content-section .lefttabs-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.service-body .service-content-section .lefttabs-container ul li {
    padding: 10px 0px;
    cursor: pointer;
    padding-left: 20px;
}

.service-body .service-content-section .lefttabs-container ul li:hover {
    background-color: var(--graytwo);
    color: var(--maincolor);
}

.service-body .service-content-section .lefttabs-container ul li.active {
    background-color: var(--maincolor);
    color: white;
}

.div-sticy-sidefilters {
    position: sticky;
    top: 10vw;
}

/* footer style */

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: none;
}

.footer-container .footericonimages img {
    max-width: 100px;
}

.footer-container .footericonimages {
    display: flex;
    align-items: stretch;
}