:root {
  --maincolor: #0d629a;
  --mainsecond: #c3e7ff;
  --gray: rgba(0, 0, 0, 0.6);
  --black: #000000;
  --graytwo: #f5f5f5;
  --white: #ffffff;
}

/* all heading and global styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--black);
  margin: 0;
}

/* custom blobal styles */

.custom-container {
  max-width: 95%;
  margin: 0 auto; /* Centers the container */
}

.background-main {
  background-color: var(--maincolor);
  color: var(--white);
}

.icon-white {
  color: var(--white);
}

.icon-blue {
  color: var(--maincolor);
}

.main-color {
  color: var(--maincolor) !important;
}

.main-second {
  color: var(--mainsecond);
}

.gray-color {
  color: var(--gray) !important;
}

.color-white {
  color: var(--white);
}

.main-backround-color {
  background-color: var(--maincolor);
}

.mainsecond-background-color {
  background-color: var(--mainsecond);
}

.graytwo-background-color {
  background-color: var(--graytwo);
}

/* buttons style */

.border-button {
  border: 2px solid var(--maincolor);
  background-color: transparent;
  color: var(--maincolor);
  padding: 10px 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.border-button:hover {
  background-color: var(--maincolor);
  color: var(--white);
}

.solid-button {
  border: 2px solid var(--maincolor) !important;
  border: none;
  background-color: var(--maincolor);
  color: var(--white);
  padding: 10px 10px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.solid-button:hover {
  border-color: var(--maincolor);
  background-color: var(--white);
  color: var(--maincolor);
}

.display-mobile {
  display: none;
}

.uk-offcanvas-bar {
  background-color: var(--white);
}

.uk-icon {
  color: var(--gray) !important;
}

.mobile-menu ul {
  padding: 0;
  margin: 0px;
}

.mobile-menu ul li {
  padding: 15px 0px;
}

.mobile-menu ul li a {
  color: var(--maincolor) !important;
  padding: 15px 0px;
}

#become-partner .uk-offcanvas-bar {
  width: 80%; /* Set width to 80% */
}

.mobile-slide-becomepartner-main .radio-button-idv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.mobile-slide-becomepartner-main .radio-button-idv label {
  color: var(--gray);
}

.mobile-slide-becomepartner-main .sideform-input input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid grey;
}

.mobile-slide-becomepartner-main .sideform-phone input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid grey;
  margin-left: 10px;
}

.mobile-slide-becomepartner-main .sideform-phone select {
  border: 1px solid grey;
}

.mobile-slide-becomepartner-main .sideform-phone {
  display: flex;
  margin-bottom: 20px;
}

#loginform-mobileslider .uk-offcanvas-bar {
  width: 100%; /* Set width to 80% */
}

@media screen and (max-width: 576px) {
  .display-desktop {
    display: none;
  }

  .display-mobile {
    display: inline-block;
  }

  .footericonimages-main {
    flex-wrap: wrap;
  }
}
