:root {
  --maincolor: #0d629a;
  --mainsecond: #c3e7ff;
  --gray: rgba(0, 0, 0, 0.6);
  --black: #000000;
  --graytwo: #f5f5f5;
  --white: #ffffff;
}

/* all heading and global styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--black);
  margin: 0;
}

/* custom blobal styles */

.custom-container {
  max-width: 95%;
  margin: 0 auto; /* Centers the container */
}

.background-main {
  background-color: var(--maincolor);
  color: var(--white);
}

.icon-white {
  color: var(--white);
}

.icon-blue {
  color: var(--maincolor);
}

.main-color {
  color: var(--maincolor) !important;
}

.main-second {
  color: var(--mainsecond);
}

.gray-color {
  color: var(--gray) !important;
}

.color-white {
  color: var(--white) !important;
}

.main-backround-color {
  background-color: var(--maincolor);
}

.mainsecond-background-color {
  background-color: var(--mainsecond);
}

.graytwo-background-color {
  background-color: var(--graytwo);
}

/* buttons style */

.border-button {
  border: 2px solid var(--maincolor);
  background-color: transparent;
  color: var(--maincolor);
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  max-width: max-content;
  border-radius: 5px;
}

.border-button:hover {
  background-color: var(--maincolor);
  color: var(--white);
}

.solid-button {
  border: 2px solid var(--maincolor) !important;
  border: none;
  background-color: var(--maincolor);
  color: var(--white);
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  max-width: max-content;
  box-shadow: -2px 4px 8px 0px #00000066;
  font-weight: 700;
  border-radius: 5px;
}

.solid-button:hover {
  border-color: var(--maincolor);
  background-color: var(--white);
  color: var(--maincolor);
}

.display-mobile {
  display: none;
}

.uk-offcanvas-bar {
  background-color: var(--white);
}

.uk-icon {
  color: var(--gray) !important;
}

.mobile-menu ul {
  padding: 0;
  margin: 0px;
}

.mobile-menu ul li {
  padding: 15px 0px;
}

.mobile-menu ul li a {
  color: var(--maincolor) !important;
  padding: 15px 0px;
}

#become-partner .uk-offcanvas-bar {
  width: 30%; /* Set width to 80% */
}

.mobile-slide-becomepartner-main .radio-button-idv {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.mobile-slide-becomepartner-main .radio-button-idv label {
  color: var(--gray);
}

.mobile-slide-becomepartner-main .sideform-input input, .mobile-slide-becomepartner-main .sideform-input select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box !important;
  border: 1px solid grey !important;
}

.mobile-slide-becomepartner-main .sideform-input select {
  color: var(--gray);
}

.mobile-slide-becomepartner-main .sideform-input select:focus {
  color: black;
}

.mobile-slide-becomepartner-main .sideform-input .uk-select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A") !important;
}

.mobile-slide-becomepartner-main .sideform-phone input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid grey;
  margin-left: 10px;
}

.mobile-slide-becomepartner-main .sideform-phone select {
  border: 1px solid grey;
}

.mobile-slide-becomepartner-main .sideform-phone {
  display: flex;
  margin-bottom: 20px;
}

#loginform-mobileslider .uk-offcanvas-bar {
  width: 30%; /* Set width to 80% */
}

.uk-slider-items > div.client-logos {
  padding: 10px;
}

.uk-slider-items div.client-logos img {
  filter: grayscale(1);
  padding: 0px 20px;
  border: 1px solid rgba(128, 128, 128, 0.329);
  margin: 10px;
  border-radius: 5px;
  box-shadow: -4px 2px 4px 0px #00000038;
}

.uk-slider-items > div.associtae-with-logo {
  padding: 20px 8vw;
}

.mobile-menubar {
  display: none;
}

.footer-container .uk-container.uk-padding-remove {
  max-width: 100% !important;
}

.home-knoeprocess-container img{
  width: 15vw;
}

.side-fix-queryform {
  position: fixed;
  right: 0px;
  top: 50%;
  width: 1.5vw;
  height: 11vw;
  background-color: #0d629a;
  color: white;
  padding: 10px;
  writing-mode: vertical-rl;
  font-size: 1vw;
  font-weight: 700;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 11px 3px #0000007d;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .display-mobile {
    display: inline-block;
  }

  .footericonimages-main {
    flex-wrap: wrap;
  }

  #become-partner .uk-offcanvas-bar {
    width: 80%; /* Set width to 80% */
  }

  #loginform-mobileslider .uk-offcanvas-bar {
    width: 80%; /* Set width to 80% */
  }

  .number-infomain {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menubar {
    display: inline-block;
  }

  .display-desktop {
    display: none;
  }
}
